@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kumbh+Sans:wght@700&family=Lexend+Deca&display=swap');


body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:url("https://res.cloudinary.com/muuba/image/upload/v1653318470/bg-pattern-top_l6pa6u.svg") top left, url("https://res.cloudinary.com/muuba/image/upload/v1653318483/bg-pattern-bottom_fchdhk.svg") bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
 
  
}

.card {
  border-radius:10px !important;
}

.img-section {
  background: url("https://res.cloudinary.com/muuba/image/upload/v1653318446/bg-pattern-card_rvtoiq.svg") no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  padding: 90px 0 55px 0;
}

img {
  border-radius: 100%;
  border: 2px solid #fff;
  position: absolute;
  right: 35%;

}

  h1 {
    font-family: 'Kumbh Sans', sans-serif;
  }

  h3, p {
    font-family: 'Kumbh Sans', sans-serif;
  }

@media screen and (max-width: 770px) {
  img {
    right: 32% !important;
  }
}
  

@media screen and (max-width: 700px) {
  img {
    right: 29% !important;
  }
}